.about {
  padding: 0 3rem 0 3rem;
  display: flex;
  height: 30rem;
  margin-bottom: 8rem;
  /* margin-top: 9rem; */
  /* scroll view */
  padding-top: 3rem;
}
/* left side */

.awesome {
  display: flex;
  flex-direction: column;
  position: relative;
  /* gap: 20px; */
}
.st-title > :nth-child(1) {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: bold;
}
.st-title > :nth-child(2) {
  color: var(--orange);
  font-size: 2.5rem;
  font-weight: bold;
}
/* .awesome > :nth-child(1) {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: bold;
} */
.awesome > :nth-child(2) {
  display: none;
  color: var(--orange);
  font-size: 2.5rem;
  font-weight: bold;
}
.awesome > :nth-child(3) {
  display: none;
  color: var(--gray);
  font-size: 14px;
  margin-top: 1rem;
}

.sub-title {
  margin-top: 4rem;
  width: 25rem;
  font-size: 1.1rem;
}
.s-button {
  width: 8rem;
  height: 2rem;
  margin-top: 3rem;
}
/* right sided */
.cards {
  position: relative;
}
.cards > * {
  position: absolute;
}

/* blur */
.s-blur2 {
  left: 14rem;
  top: 8rem;
}

.s-blur1 {
  top: 13rem;
  left: -18rem;
}

@media screen and (max-width: 480px) {
  .about {
    margin-top: 0;
    flex-direction: column;
    height: 66rem;
    padding: 0;
    margin-bottom: 14rem;
  }
  .sub-title {
    /* margin-left: -1rem; */
    /* font-size: 1rem; */
    width: 95vw;
  }
  .cv-btn {
    margin-bottom: 2rem;
  }
  .cards {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    /* gap: 17rem; */
    row-gap: 17rem;
  }
  .cards > * {
    position: static;
  }
}
