.pc-wraper {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  align-items: center;
  gap: 1rem;
}
.pc-wraper > div {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 1rem;
  box-shadow: var(--smboxShadow);
  width: 90%;
  z-index: 1;
}
.pc-wraper > div:hover {
  width: 100%;
  margin: -1rem;
  box-shadow: 10px 10px 55px var(--orangeCard);
  z-index: 2;
}
.pc-wraper > div > img {
  max-width: 100%;
  margin: 0;
}
.pc-btn {
  margin-top: 0.5rem;
  background: var(blueCard);
  color: aliceblue;
}
